<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-body">
                <h1 class="text-center mb-4">Iniciar Sesión</h1>
                <form action="/tasks/login" method="POST">
                    <!-- Mostrar mensaje de error si existe -->
                    {{#if errorMessage}}
                        <div class="alert alert-danger text-center">
                            {{errorMessage}}
                        </div>
                    {{/if}}
                    <div class="form-group mb-3">
                        <input type="text" name="username" placeholder="Nombre de usuario" class="form-control">
                    </div>
                    <div class="form-group mb-3">
                        <input type="password" name="password" placeholder="Contraseña" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Iniciar Sesión</button>
                </form>
                <p class="text-center mt-3">
                    ¿No tienes una cuenta? <a href="/tasks/register">Regístrate aquí</a>
                </p>
            </div>
        </div>
    </div>
</div>