<div class="p-5 mb-4 bg-light rounded-2">
    <h1 class="display-4"> Typescript App </h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p>Phasellus imperdiet, nulla et dictum interdum, nulla sapien sodales ligula, a faucibus lectus sem eget quam.</p>
    <a href="#" class="btn btn-primary btn-lg">
        Task List
    </a>
</div>